#marqueeStyle{
font-size: 30px;
}
#school{
    height: 650px;
    width: 1400px;
}
body{
    text-align: center;
}
.contact_1 a{
    text-shadow: none;
}
#principal{
  width:200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100px;
}
.line{
     height:6px;
  background-color:firebrick;
   width:70px;
  margin:8px auto;
}


.ment-head i{
    float: right;
    padding-right: 10px;
}
.achieve-head i{
float: right;
    padding-right: 10px;
    
}
.school-head i{
float: right;
    padding-right: 10px;
}
.ment-head{
    font-size: 20px;
    padding: :6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 90%;
    display: inline-block;
}
.achieve-head{
 font-size: 20px;
    padding: :6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 90%;
    display: inline-block;
    
}
.school-head{
 font-size: 20px;
    padding: :6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 90%;
    display: inline-block;
}

.row::after{
    
    clear: both;
    display: table;
}
.travel_mainDiv{
    float: left;
    width: 33.33%;
    padding: 5px;
     border: 1px solid white;
}
.travel_mainDiv img{
    width: 100%;
        height: 300px;
}
.travel_mainDiv hr{
    width: 100%;
}
.travel_mainDiv h5,.travel_mainDiv p{
    margin-left: 20px;
    font-size: 20px;
}
.campus_mainDiv{
    float: left;
    width: 33.33%;
    padding: 5px;
     border: 1px solid white;
}
.campus_mainDiv img{
    width: 100%;
        height: 300px;
}
.campus_mainDiv hr{
    width: 100%;
}
.campus_mainDiv h5,.campus_mainDiv p{
    margin-left: 20px;
    font-size: 20px;
}
.life_mainDiv{
    float: left;
    width: 33.33%;
    padding: 5px;
     border: 1px solid white;
}
.life_mainDiv img{
    width: 100%;
        height: 300px;
}
.life_mainDiv hr{
    width: 100%;
}
.life_mainDiv h5,.life_mainDiv p{
    margin-left: 20px;
    font-size: 20px;
}
.travel_mainDiv p{
    color: black;
}
.campus_mainDiv p{
    color: black;
}
.life_mainDiv p{
    color: black;
}
.page-header{
    color: black;
}
#achievementsID{
    padding-bottom: 10px;
}
.akshay{
    cursor: pointer;
}
.akshay hr{
    margin-bottom: 10px;
}
.akshay p{
    font-size: 20px;
    text-align: center;
}
.akshay img{
    text-align: center;
}
.modal-content{
    margin-top: 100px;
}
.img-modal{
    display: inline-block;
    width: 500px;
}
.p-modal{
   text-align: center;
    margin-top: 10px;
}
.modal-body{
    text-align: center;
    
}
